*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: fantasy;
}

:root {
  --darkBrown: #3c3c20;
  --lightBrown: #9d9974;
  --lighterBrown: #d5cfb6;
  --darkGreen: #616640;
  --lightGreen: #75934e;
}

.jumbotron {
  font-family: fantasy;
  color: var(--darkBrown);
  background-color: var(--lightBrown);
  border-bottom: solid 8px;
  margin-bottom: 2rem;
}

.yodaImg {
  max-width: 225px;
  padding: 1rem;
}

.quiz {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30rem;
}

.btn {
  background-color: #75934e;
  border-radius: 5px 10px;
  color: black;
  outline: none;
}

.btn:hover {
  border-color: black;
}
